<div style="text-align: center;">
    <img src="/image/icons8-github-50.png" class="icon" alt="github">
</div>
<div style="text-align: center; margin-top: 5px;">
    EASYUMS
</div>
<div style="color: #333; font-size: 12px; margin-top: 10px;">一个基于OAuth2.0的简易用户管理&授权系统</div>