<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>code</title>
</head>
<body>
<div style="margin: 100px auto 0; width: 50%;">
    <div style="margin-bottom: 20px; color: cornflowerblue; font-size: 40px;"><%=code%></div>
    <div>验证码在<%=expiresIn%>分钟内有效，请注意在有效期内使用。</div>
</div>
</body>
</html>