<!DOCTYPE html>
<html lang="en">
<head>
    <title>easyums - error</title>
    <link rel="stylesheet" href="/css/layout1.css" />
</head>
<body>
<div class="container">
    <div class="title">EASYUMS ERROR</div>
    <div>
        <p><%=error %></p>
        <p style="margin-bottom: 10px;"><%=message %></p>
    </div>
</div>
</body>
</html>
