<!DOCTYPE html>
<html lang="en">
<head>
    <title>easyums - error</title>
    <link rel="stylesheet" href="/css/layout1.css" />
</head>
<body>
<div id="main">
    <div class="container">
        <div class="left">
            <%- include('partial/p1.ejs'); -%>
        </div>
        <div class="right">
            <div class="title">ERROR</div>
            <div>
                <p><%=error %></p>
                <p style="margin-bottom: 10px; white-space: break-spaces;"><%=message %></p>
            </div>
            <p style="font-size: 14px; margin-bottom: 0;">
                <span id="btn-back" class="btn1">
                    返回
                </span>
            </p>
        </div>
    </div>
</div>
<script>
    const btnBack = document.querySelector("#btn-back");
    btnBack.addEventListener('click', function () {
        window.history.back();
    });
</script>
</body>
</html>
