<!DOCTYPE html>
<html lang="en">
<head>
    <title>register</title>
    <link rel="stylesheet" href="/css/layout1.css" />
</head>
<body>
<div id="main">
    <div class="container">
        <div class="left">
            <%- include('partial/p1.ejs'); -%>
        </div>
        <div class="right">
            <div class="title">REGISTRATION</div>
            <div>
                <p>
                    <label>
                        <span class="name">用户名：</span>
                        <input type="text" name="username" placeholder="请输入" />
                    </label>
                </p>
                <p>
                    <label>
                        <span class="name">密码：</span>
                        <input type="password" name="password" placeholder="请输入" />
                    </label>
                </p>
                <p>
                    <label>
                        <span class="name">确认密码：</span>
                        <input type="password" name="password2" placeholder="请输入" />
                    </label>
                </p>
                <p>
                    <label>
                        <span class="name">简介：</span>
                        <textarea name="introduction" placeholder="请输入" rows="2"></textarea>
                    </label>
                </p>
                <p>
                    <label>
                        <span class="name">邮箱：</span>
                        <input type="text" name="email" placeholder="请输入" />
                    </label>
                    <button id="send-code" style="margin-left: 10px;">发送验证码</button>
                </p>
                <p>
                    <label>
                        <span class="name">验证码：</span>
                        <input type="text" name="code" placeholder="请输入" />
                    </label>
                </p>
                <p>
                    <span class="packing1"></span>
                    <button id="btn-register" class="btn btn-success" name="action" value="1">注册</button>
                </p>
                <p style="font-size: 14px; text-align: right; margin-bottom: 10px;">
                    已有账号？
                    <span id="btn-login" class="btn1">前往登陆</span>
                </p>
            </div>
        </div>
    </div>
</div>
<script>
    const btnLogin = document.querySelector("#btn-login");
    const emailRule = /^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(.[a-zA-Z0-9_-]+)+$/;
    const btnSendCode = document.querySelector("#send-code");
    const btnRegister = document.querySelector("#btn-register");

    const iptEmail = document.querySelector("input[name='email']");
    const iptUsername = document.querySelector("input[name='username']");
    const iptPassword = document.querySelector("input[name='password']");
    const iptPassword2 = document.querySelector("input[name='password2']");
    const iptCode = document.querySelector("input[name='code']");
    const iptIntroduction = document.querySelector("textarea[name='introduction']");
    const inputs = [iptEmail, iptUsername, iptPassword, iptPassword2, iptCode, iptIntroduction];

    // 前往登陆
    btnLogin.addEventListener('click', toAuthorize);
    // 发送验证码
    btnSendCode.addEventListener('click', function (e) {
        e.preventDefault();
        sendCode();
    });
    // 注册
    btnRegister.addEventListener('click', function () {
        request({
            method: "POST", url: "/oauth2/register",
            headers: { 'Content-Type': 'application/json' },
            data: {
                username: iptUsername.value,
                email: iptEmail.value,
                password: iptPassword.value,
                password2: iptPassword2.value,
                introduction: iptIntroduction.value,
                code: iptCode.value
            },
            success(resp) {
                if (!resp.error) {
                    reset(inputs);
                    const act = window.confirm("注册成功，是否前往登陆？");
                    if (act) {
                        toAuthorize();
                    }
                }
                else {
                    window.alert("注册失败;" + resp.message);
                }
            },
            error(resp) {
                console.log(resp);
                window.alert("注册失败;" + resp.message);
            }
        })
    });

    function toAuthorize() {
        window.location.href = "/oauth2/authorize" + window.location.search;
    }

    function reset(forms) {
        for (const form of forms) {
            form.value = "";
        }
    }

    /**
     * ajax请求工具
     * @param {Object} opts
     * @param {String} opts.method 请求方法
     * @param {String} opts.url 请求路径
     * @param {Object} opts.headers 请求头参数
     * @param {Object} opts.data 请求参数[body]
     * @param {Function} opts.success 成功回调
     * @param {Function} opts.error 失败回调
     */
    function request(opts) {
        let { method, url, headers, data, success, error } = opts;
        const xhr = new XMLHttpRequest();
        xhr.open(method, url);
        for (const key in headers) {
            if (headers.hasOwnProperty(key)) {
                xhr.setRequestHeader(key, headers[key]);
            }
        }
        let _body = null;
        if (data) {
            _body = JSON.stringify(data);
        }
        xhr.send(_body);
        xhr.onreadystatechange = function () {
            if (xhr.readyState === 4) {
                if (xhr.status === 200) {
                    typeof success == 'function' && success(JSON.parse(xhr.responseText));
                }
                else {
                    typeof error == 'function' && error(JSON.parse(xhr.responseText));
                }
            }
        }
    }

    // 发送邮箱验证码
    function sendCode() {
        const email = iptEmail.value;
        if (!email) {
            return window.alert("邮箱不能为空");
        }
        if (!emailRule.test(email)) {
            return window.alert("邮箱格式不正确");
        }
        request({
            method: 'POST', url: '/assist/captcha/sendCode',
            headers: { 'Content-Type': 'application/json' },
            data: { email: email },
            success(resp) {
                if (!resp.error) {
                    window.alert("发送成功");
                }
                else {
                    window.alert("发送失败：" + resp.message);
                }
            },
            error(error) {
                console.log(error);
                window.alert("发送失败：" + error.message);
            }
        });
    }
</script>
</body>
</html>
