<!DOCTYPE html>
<html lang="en">
<head>
    <title>easyums - test</title>
</head>
<body>
<div style="margin: 14px;">
    <h2>测试界面</h2>
</div>
<script>
    (self.webpackChunknextcloud = self.webpackChunknextcloud || []).push([[7874], {
        147: function(e, t, n) {

        }
    }]);
    console.log(self.webpackChunknextcloud);
</script>
</body>
</html>
